.card {
    margin-top: 0.5rem;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    background-color: var(--color-gray-100);
    border: 1.5px solid var(--color-gray-300);
    border-radius: 1rem;

    & .header-container {
        display: flex;

        & .header {
            width: 60%;
            
            & span {
                display: inline-block;
                margin-bottom: 0.25rem;
                font: var(--font-subtitle-sm);
                color: var(--color-gray-500);
            }

            & p {
                font: var(--font-text-xm);
                color: var(--color-gray-500);
            }
        }

        & .tag {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: auto;
            margin-left: auto;
            padding: 3.5px 8px;
            background-color: var(--color-gray-300);
            border-radius: 63rem;

            & span {
                font: var(--font-subtitle-sm);
                color: var(--color-gray-500);
            }
        }
    }

    & .slots {
        margin-top: 1.25rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.43rem;

        & .slot-card {
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-gray-200);
            border-radius: 0.75rem;

            & img {
                width: 40px;
                height: auto;
                object-fit: cover;
            }
        }

        & .slot-gift img {
            width: 20px;
            height: auto;
            opacity: 0.35;
        }
    }
}

@media (width >= 80rem) {
    .card {
        grid-column: 3/6;
        grid-row: 1/4;
        margin-top: 0px;
        padding: 2.25rem 2rem 2rem 2rem;

        & .header-container {

            & .tag {
                padding: 0.37rem 0.5rem;

                & span {
                    font: var(--font-subtitle-md);
                }
            }
        }

        & .slots {
            margin-top: 2rem;
            gap: 0.5rem;

            & .slot-card {
                width: 5.5rem;
                height: 5.5rem;

                & img {
                    width: 4rem;
                }
            }

            & .slot-gift img {
                width: 2rem;
            }
        }
    }
}