main {
    margin-top: 1.25rem;
}

@media (width >= 80rem) {
    main {
        margin-top: 4rem;
        max-width: 57rem;
        max-height: 30rem;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
}