@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-background: oklch(97.26% 0.0075 17.29);
  --color-orange-base: oklch(64.65% 0.2106 37.21);
  --color-orange-dark: oklch(55.11% 0.1803 37.04);
  --color-blue-light: oklch(93.76% 0.0287 224.7);
  --color-blue-base: oklch(78.46% 0.1244 235.24);
  --color-blue-dark: oklch(66.69% 0.163656 243.7543);
  --color-white: oklch(100% 0 0);
  --color-background: oklch(97.26% 0.0075 17.29);
  --color-shape: oklch(94.57% 0.0119 17.37);
  --color-gray-100: oklch(74.76% 0 0);
  --color-gray-200: oklch(66.65% 0 0);
  --color-gray-300: oklch(51.03% 0 0);
  --color-gray-400: oklch(36% 0 0);
  --color-gray-500: oklch(23.08% 0 0);
  --color-danger: oklch(59.15% 0.202 21.24);
  --color-success: oklch(64.01% 0.1751 146.74);

  --font-DMSans: "DM Sans", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
}